/* ---------1500------ */

@media (max-width: 1500px) {
  .header {
    margin-left: 100px;
    margin-right: 100px;
  }
  .main {
    margin-left: 100px;
  }
  .service {
    margin-left: 100px;
    margin-right: 100px;
  }
  .choice {
    margin-left: 100px;
    margin-right: 100px;
  }
  .results {
    margin-right: 100px;
    margin-left: 100px;
  }
  .slider__control {
    margin-right: 5px;
  }
  .goods {
    margin-left: 100px;
    margin-right: 100px;
  }
  .contacts__img3 {
    width: 4vw;
  }
  .footer__container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .basement__container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* ---------1450------ */
@media (max-width: 1450px) {
  .service__text {
    padding-right: 5px;
  }
  .results {
    margin-right: 50px;
    margin-left: 50px;
  }
  .slider__control {
    margin-right: 15px;
  }
  .choice {
    margin-bottom: 50vh;
  }
  .goods {
    margin-left: 50px;
    margin-right: 50px;
  }
  .contacts__img2 {
    width: 45vw;
  }
  .footer__container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .basement__container {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* ---------1400------ */
@media (max-width: 1400px) {
  .service {
    margin-bottom: 100px;
  }
  .choice {
    margin-left: 50px;
    margin-right: 50px;
  }
  .choice__statistics {
    width: 754px;
  }
  .slider__control {
    margin-right: -29px;
  }
  .goods {
    margin-top: 64vw;
  }
}

/* ---------1300------ */
@media (max-width: 1300px) {
  .header {
    margin-left: 50px;
    margin-right: 50px;
  }
  .header__logo__text {
    font-size: 9px;
  }
  .header__logo img {
    width: 4vw;
    height: 4vw;
  }
  .main__text p {
    padding-top: 0;
  }
  .service {
    margin-left: 100px;
    margin-right: 100px;
  }
  .choice {
    margin-bottom: 40vh;
  }
  .choice__img3 {
    left: 100px;
  }
  .choice__statistics {
    left: 103px;
  }
  .slider__control {
    margin-right: -29px;
  }
  .goods {
    margin-top: 68vw;
  }
  .contacts_info {
    left: 9.44%;
    top: 72px;
    width: 276px;
  }
  .contacts__sec_title {
    padding-bottom: 9px;
  }
}
/* --------1280--------- */
@media (max-width: 1280px) {
  .main__title {
    font-size: 34px;
  }
  .main__view {
    margin-top: 1vw;
  }
  .slider__control {
    margin-right: -35px;
  }
  .form__img3 {
    left: 42%;
    top: -37px;
  }
  .form__unit {
    left: 51%;
  }
  .contacts__img2 {
    width: 45vw;
  }
}

/* ---------1250------ */
@media (max-width: 1250px) {
  .main__img__text {
    top: 18vw;
  }
  .slider__control {
    margin-right: -46px;
  }
}

/* ---------1200------ */
@media (max-width: 1200px) {
  .main {
    margin-left: 50px;
  }
  .service {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
  .choice__img3 {
    width: 739px;
    left: 188px;
    top: 450px;
  }
  .choice__statistics {
    padding-top: 10px;
    top: 451px;
    width: 739px;
  }
  .choice__stat__item_num {
    padding-left: 30px;
    padding-right: 15px;
  }
  .slider__control {
    display: none;
  }
  .goods {
    margin-top: 72vw;
  }
  .contacts__img2 {
    width: 47vw;
  }
}

/* ---------1140------ */
@media (max-width: 1140px) {
  .main__title {
    font-size: 32px;
  }
  .header__menu__item {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 65%;
    left: 20vw;
  }

  .main__text p {
    margin-bottom: 0rem;
  }
  .head__link {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    padding-left: 35px;
    padding-right: 35px;
    top: 80px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    left: 0px;
    right: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
  .call {
    margin-left: 40px;
  }
  .main {
    margin-top: 70px;
  }
  .service {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 50px;
  }
  .service__text {
    padding-left: 5px;
  }
  .choice__img3 {
    left: 100px;
  }
  .choice__statistics {
    padding-top: 0;
    top: 463px;
    left: 19px;
  }
  .choice__text {
    font-size: 14px;
  }
  .choice__text p {
    margin-bottom: 0.5rem;
  }
  .choice__info {
    padding-top: 6px;
  }
  .results__title {
    width: 100%;
    margin-bottom: 10px;
  }
  .results__menu__link {
    width: 100%;
    margin-bottom: 50px;
    justify-content: start;
  }
  .results__menu__link a {
    padding-right: 7vw;
  }
  .form__img3 {
    width: 625px;
  }
  .contacts_info {
    top: 43px;
  }
}

/* ---------1024------ */
@media (max-width: 1024px) {
  .main__title {
    padding-top: 2vw;
    font-size: 35px;
  }
  .main__text p {
    padding-top: 0;
    margin-bottom: 0;
  }

  .goods {
    margin-top: 78vw;
  }
  .contacts_info {
    left: 9%;
    top: 56px;
    width: 347px;
  }
  .contacts__sec_title {
    font-size: 18px;
    line-height: 29.8px;
    padding-bottom: 0px;
  }
  .contacts__text {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 17px;
  }
  .footer__item {
    display: block;
  }
  .foot__phone {
    margin-right: 0;
    margin-bottom: 3vw;
  }
}

/* ---------1000------ */
@media (max-width: 1000px) {
  .header {
    margin-left: 35px;
    margin-right: 35px;
  }
  .main {
    margin-top: 50px;
  }
  .main__img {
    position: absolute;
    top: 200px;
  }
  .main__title {
    padding-top: 21px;
    font-size: 29px;
  }
  .service__items {
    margin-left: 8%;
  }
  .service__img {
    width: 5vw;
    height: auto;
  }
  .service__item {
    width: 50%;
    height: 7.5vw;
  }
  .choice {
    margin-bottom: 35vh;
  }
  .choice__img3 {
    left: 100px;
  }
  .choice__statistics {
    left: 19px;
    width: 717px;
  }
  .form__img3 {
    width: 560px;
    height: 523px;
    top: -2vw;
  }
  .form__unit {
    width: 380px;
  }
  .form__title {
    font-size: calc(12px + (25 - 12) * (100vw - 370px) / (1600 - 400));
    line-height: calc(15px + (31 - 15) * (100vw - 370px) / (1600 - 370));
  }
  .form__text {
    padding-bottom: 1vw;
  }
  .form__button {
    width: 270px;
    height: 53px;
    padding-left: 72px;
  }
  .form__button button {
    padding-top: 17px;
  }
  .form__form li + li {
    margin-top: 0.5em;
  }
  .contacts__title {
    padding-bottom: 3px;
  }
}

/* ---------960------ */
@media (max-width: 960px) {
  .call {
    margin-left: 0;
  }
  .main {
    display: block;
  }
  .main__info {
    width: 100%;
    margin-bottom: 20px;
  }
  .main__view {
    display: block;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main__social {
    display: none;
  }
  .main__title {
    padding-bottom: 11px;
  }
  .main__images {
    width: 100%;
    margin-top: 30px;
  }
  .main__img__text {
    top: 38vw;
  }
  .service {
    margin-top: 680px;
    margin-bottom: 40px;
  }
  .choice {
    margin-bottom: 17vh;
  }
  .choice__container {
    flex-wrap: wrap;
  }
  .choice__images {
    width: 100%;
    left: 9vw;
  }
  .choice__img2 {
    left: 31px;
    top: 29px;
  }
  .choice__img3 {
    width: 614px;
    left: 60px;
    top: 482px;
  }
  .choice__statistics {
    left: -43px;
    top: 482px;
    width: 604px;
  }
  .choice__stat__item_num {
    font-size: 37px;
  }
  .choice__stat__item {
    font-size: 13px;
  }
  .choice__info {
    width: 100%;
    margin-top: 591px;
    padding-left: 0;
  }
  .contacts_info {
    top: 41px;
  }
}

/* ---------800------ */
@media (max-width: 800px) {
  .header__logo__text {
    font-size: 8px;
  }
  .service {
    margin-top: 610px;
  }
  .choice__images {
    left: 1vw;
  }
  .results__menu__link a {
    padding-right: 2vw;
  }
  .form__img3 {
    width: 515px;
    height: 419px;
    left: 22%;
  }
  .form__unit {
    left: 32%;
    width: 350px;
    top: 5vw;
  }
  .form__form label {
    font-size: calc(11px + (14 - 11) * (100vw - 370px) / (1600 - 370));
  }
  .contacts__img2 {
    width: 61vw;
  }
  .contacts_info {
    top: 56px;
  }
  .contacts__text {
    padding-bottom: 9px;
  }
  .footer {
    margin-top: 68vw;
  }
  .foot__log {
    justify-content: flex-start;
    width: 19vw;
  }
  .footer__logo {
    width: 8vw;
    height: 8vw;
    padding-right: 2px;
  }
  .footer__logo__text {
    font-size: calc(8px + (9 - 8) * (100vw - 370px) / (800 - 370));
    line-height: calc(11px + (14.4 - 11) * (100vw - 370px) / (800 - 370));
  }
  .footer__payment img {
    width: 5vw;
    height: auto;
  }
  .footer__phone {
    font-size: 13px;
    line-height: 7px;
  }
  .footer__list li {
    margin-bottom: 0;
  }
  .footer__list a {
    font-size: calc(8px + (10 - 8) * (100vw - 370px) / (800 - 370));
  }
}

/* ---------750------ */
@media (max-width: 750px) {
  .head__link {
    top: 130px;
  }
  .header__menu__item {
    justify-content: space-evenly;
  }
  .service {
    margin-top: 550px;
  }
  .service__title {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .service__text {
    font-size: 13px;
  }
  .choice {
    margin-bottom: 10vh;
  }
  .choice__info {
    margin-top: 580px;
  }
  .choice__img3 {
    left: 100px;
    width: 498px;
  }
  .choice__statistics {
    left: 19px;
    width: 477px;
  }
  .choice__stat__item_num {
    font-size: 33px;
    padding-left: 15px;
    padding-right: 6px;
  }
  .results__link {
    font-size: 17px;
  }
  .goods__main {
    display: block;
  }
  .goods__title {
    padding-bottom: 2vw;
  }
  .contacts__img2 {
    width: 61vw;
  }
  .contacts__title {
    font-size: 27px;
    line-height: 4px;
    padding-bottom: 30px;
  }
  .footer {
    margin-top: 70vw;
  }
}

/* ---------650------ */
@media (max-width: 650px) {
  .main {
    margin-top: 76px;
  }
  .main__title {
    padding-top: 0;
    font-size: 26px;
  }
  .header__logo__text {
    font-size: 6px;
    line-height: 10px;
  }
  .header__menu__item {
    left: 24vw;
  }
  .sum {
    display: block;
    position: absolute;
    top: 8vw;
    left: 43%;
  }
  .entry {
    display: block;
    position: absolute;
    top: 8vw;
    left: -8%;
  }
  .service {
    margin-bottom: 40px;
    margin-top: 510px;
  }
  .service__img {
    max-width: 15%;
  }
  .service__text {
    font-size: 11px;
  }
  .choice__img2 {
    width: 80%;
  }
  .choice__img3 {
    top: 360px;
    width: 412px;
    left: 49px;
  }
  .choice__statistics {
    top: 354px;
    left: -30px;
    width: 392px;
  }
  .choice__stat__item_num {
    padding-left: 5px;
    padding-right: 0;
    font-size: 23px;
  }
  .choice__info {
    margin-top: 446px;
  }
  .results__link {
    font-size: 15px;
  }
  .form__img3 {
    left: 13%;
    height: 459px;
  }
  .form__unit {
    left: 26%;
    top: 7vw;
  }
  .goods {
    margin-top: 86vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .goods__link,
  .goods__title {
    text-align: center;
  }
  .goods__button {
    margin-top: 16px;
  }
  .contacts__title {
    font-size: 26px;
    padding-bottom: 25px;
  }
  .contacts__text {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 13px;
  }
  .contacts__phone {
    font-size: 20px;
    line-height: 28.8px;
    padding-bottom: 9px;
  }
  .footer {
    margin-top: 72vw;
  }
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_container__item {
    width: 33.3333%;
  }
  .footer__item {
    width: 66%;
    margin-bottom: 3vw;
    padding-left: 3vw;
  }
  .footer__payment {
    justify-content: flex-start;
  }
}

/* ---------540------ */
@media (max-width: 540px) {
  .header__logo__text {
    line-height: 8px;
  }
  .main__img__text {
    top: 33vw;
    font-size: 15px;
    line-height: 19px;
  }
  .main__img__text span {
    font-size: 13px;
  }
  .service {
    margin-top: 380px;
    margin-bottom: 10px;
  }
  .service__img {
    max-width: 11%;
  }
  .service__text {
    font-size: 9px;
  }
  .service__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .choice__img3 {
    top: 340px;
    width: 361px;
  }
  .choice__statistics {
    top: 332px;
    width: 330px;
  }
  .choice__stat__item {
    font-size: 10px;
    line-height: 10.6px;
  }
  .choice__info {
    margin-top: 392px;
  }
  .results__link {
    font-size: 12px;
    line-height: 15px;
  }
  .results__title {
    font-size: 26px;
  }
  .goods {
    margin-top: 93vw;
  }
  .contacts_info {
    width: auto;
  }
  .contacts__title {
    font-size: 23px;
  }
  .contacts__sec_title {
    font-size: 16px;
    line-height: 22px;
  }
  .contacts__text {
    font-size: 11px;
    padding-bottom: 8px;
  }
  .contacts__phone {
    font-size: 17px;
    line-height: 21px;
    padding-bottom: 5px;
  }
  .footer {
    margin-top: 61vw;
    padding-top: 19vw;
  }
}

/* ---------480------ */
@media (max-width: 480px) {
  .header__logo__text {
    font-size: 5px;
    line-height: 6px;
  }
  .sum {
    top: 13vw;
  }
  .entry {
    top: 13vw;
  }
  .choice__img3 {
    top: 247px;
    left: 0;
  }
  .choice__statistics {
    top: 237px;
    left: -66px;
  }
  .choice__info {
    margin-top: 310px;
  }
  .form__img3 {
    width: 84vw;
    height: 419px;
  }
  .form__unit {
    left: 25%;
    top: 8vw;
    width: 61vw;
  }
  .goods {
    margin-top: 107vw;
  }
  .goods__title {
    padding-bottom: 2vw;
    font-size: 26px;
  }
  .contacts_info {
    left: 6%;
    top: 40px;
  }
  .contacts__title {
    font-size: 20px;
    padding-bottom: 12px;
  }
  .contacts__sec_title {
    font-size: 15px;
    line-height: 22px;
  }
  .footer {
    margin-top: 63vw;
  }
}

/* ---------420------ */
@media (max-width: 420px) {
  .call {
    display: block;
    position: absolute;
    top: -4px;
    left: 304px;
    font-size: 10px;
    width: 130px;
    height: 30px;
  }
  .header__logo__text {
    line-height: 6px;
  }
  .sum {
    top: 41px;
    left: 121px;
  }
  .entry {
    top: 41px;
    left: 301px;
    width: 120px;
  }
  .phone {
    font-size: 10px;
    padding-top: 0;
  }
  .head__link {
    top: 180px;
  }
  .header__menu__item {
    justify-content: right;
    left: -8vw;
  }
  .head__link {
    display: block;
    position: absolute;
    top: 113px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    left: 0px;
    right: 0;
    background-color: #f3faff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .head__link a {
    display: block;
    padding: 5px;
    color: #828282;
  }
  .main {
    margin-top: 0px;
  }
  .main__title {
    margin-top: 170px;
  }
  .main__img__text {
    font-size: 14px;
  }
  .main__img__text span {
    font-size: 14px;
  }
  .service {
    margin-top: 250px;
  }
  .service__item {
    width: 100%;
  }
  .service__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .service__items {
    margin-left: 15%;
  }
  .choice__img1 {
    width: 50%;
  }

  .choice__img3 {
    top: 202px;
    width: 311px;
    left: 1px;
  }
  .choice__statistics {
    top: 190px;
    width: 310px;
    left: -54px;
  }
  .choice__stat__item_num {
    font-size: 16px;
  }
  .choice__stat__item {
    font-size: 8px;
  }
  .choice__info {
    margin-top: 258px;
  }
  .results__title {
    font-size: 22px;
  }
  .results__menu__link {
    margin-bottom: 23px;
  }
  .results__link {
    font-size: 10px;
  }
  .form__img3 {
    left: 8%;
  }
  .form__unit {
    left: 21%;
    top: 9vw;
  }
  .form__text {
    font-size: 12px;
  }
  .form__button {
    width: 222px;
    padding-left: 40px;
  }
  .goods {
    margin-top: 116vw;
  }
  .contacts__img2 {
    width: 67vw;
  }
  .contacts__title {
    font-size: 16px;
  }
  .contacts__sec_title {
    font-size: 12px;
    line-height: 19px;
  }
  .contacts__text {
    font-size: 9px;
    padding-bottom: 4px;
  }
  .contacts__social_icons {
    width: 100%;
    padding-top: 3px;
  }
  .footer {
    margin-top: 66vw;
    padding-top: 27vw;
  }
}

/* ---------370------ */
@media (max-width: 370px) {
  .header__logo__text {
    font-size: 4px;
    line-height: 5px;
  }
  .call {
    left: 115px;
  }
  .main__img__text {
    font-size: 12px;
  }
  .main__img__text span {
    font-size: 12px;
  }
  .service {
    margin-top: 275px;
  }
  .choice__img3 {
    top: 190px;
    width: 265px;
  }
  .choice__statistics {
    top: 176px;
    left: -65px;
    width: 265px;
  }
  .choice__stat__item_num {
    font-size: 15px;
  }
  .choice__stat__item {
    font-size: 7px;
  }
  .choice__info {
    margin-top: 231px;
  }
  .results__title {
    font-size: 19px;
    margin-bottom: 3px;
  }
  .results__menu__link a {
    text-align: center;
  }
  .goods {
    margin-top: 132vw;
  }
  .contacts__phone {
    font-size: 12px;
    line-height: 14px;
  }
  .contacts__text {
    line-height: 14px;
  }
  .footer {
    margin-top: 70vw;
  }
}
